.wrap {
	margin: 100px auto;
	width: 346px;
	height: 415px;
	overflow: hidden;	
}

table {
	margin-top: -10px;
	margin-left: -3px;
	width: 700px;
	height: 500px;
	border-collapse: collapse;
}

td {
	border: 3px solid #000;
}

.white {
	background-color: #FFF;
}

.black	{
	background-color: #000;
}

.yellow {
	background-color: yellow;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.none {
	visibility: hidden;
}