* {
	padding: 0;
	margin: 0;
}
.wrapper{
	padding: 50px 5px;
	max-width: 980px;
	min-width: 480px;
	background: #f3f3f3;
	margin: 0 auto;
	color: #010101;
	font-family: Arial, sans-serif;
}
.wrapper__title{
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.header{
	padding-top: 18px; /* +default total 20px */
	padding-bottom: 18px; /* +default = total 20px */
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.header__img{
	background: #0056d3;
	width: 202px;
	height: 202px;
	border: 1px solid #8f8f8f;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
}
.header__status{
	padding-top: 18px; /* +default = total 23px */
	text-align: left;
	color: #1f1f1f;
	font-size: 14px;
}
.desire,
.contact,
.footer{
	border-top: 1px solid #ccc;
	padding-bottom: 20px; /* +default = total 20px */
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	font-family: "Myriad Pro", sans-serif;
	font-size: 14px;
	color: #1f1f1f;
}
.desire__title,
.contact__title,
.footer__title{
	font-size: 18px;
	padding-top: 15px;
}
.disere__list{
	font-size: 16px;
	list-style-position: inside;
	padding-left: 15px;
	padding-top: 20px; /* +default = total 25px */
}
.desire__item-text{
	font-size: 14px;
	color: #3d3d3d;
	padding-left: 5px; /* +default = total 15px */
}
.contact__phone,
.contact__link,
.footer__description{
	margin-left: 35px;
	padding-top: 15px;
}
.contact__link{
	font-style: italic;
	color: #0056d3;
}
.contact__phone,
.footer__description{
	color: #3a3a3a;
}

