.bg-color-3399CC {
	background-color: #3399CC;
}

.bg-color-33CCCC {
	background-color: #33CCCC;
}

.bg-color-996699 {
	background-color: #996699;
}

.bg-color-C24747 {
	background-color: #C24747;
}

.bg-color-E2674A {
	background-color: #E2674A;
}

.bg-color-FFCC66 {
	background-color: #FFCC66;
}

.bg-color-99CC99 {
	background-color: #99CC99;
}

.bg-color-669999 {
	background-color: #669999;
}

.bg-color-CC6699 {
	background-color: #CC6699;
}

.bg-color-339966 {
	background-color: #339966;
}

.bg-color-666699 {
	background-color: #666699;
}